<div id="accordion">
  <div class="card myCard">
    <div class="card-header">
      <div data-toggle="collapse" class="pointer" data-target="#myForm" aria-expanded="true" aria-controls="myForm">
        <div class="d-flex">
          <div class="ovoFont">$14,995</div>
          <div class="ml-auto small">per night</div>
        </div>
      </div>
    </div>
    <div id="myForm" class="collapse myForm" [ngClass]="{'show': openForm}" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="col">
              <div class="inner-addon left-addon">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" formControlName="username"  class="form-control" placeholder="Your Name">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <div class="inner-addon left-addon">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" formControlName="password" class="form-control" placeholder="Your Pass">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="h6" style="font-size:0.8rem;font-weight:600">LOW SEASON RATE
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </p>
            </div>
          </div>
          <div class="dropdown-divider"></div>

          <div class="row">
            <div class="col text-center">
              <small class="ovoFont">$14,995 x 17 nights</small>
              <p class="h5 font-weight-bold normalFamilyFont">$254,915</p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="row">
            <div class="col text-center">
              <span class="myForm__smallText">(taxes & fees not included)</span>
            </div>
          </div>
          <button type="submit" [disabled]="!userForm.valid" class="btn btn-lg btn-block myForm__btn">BOOK NOW</button>
        </form>
      </div>
    </div>
  </div>