<div class="myMenu font-weight-light" #myMenu>
  <div class="nav align-items-end d-flex justify-content-around">
    <div>
      <h6>ESTATE FLAMINGO</h6>
    </div>
    <div>
      <a class="nav-link disabled" href="#">
        <i class="fa fa-bed" aria-hidden="true"></i>
        12 Bedrooms</a>
    </div>
    <div>
      <a class="nav-link disabled" href="#">
        <i class="fa fa-bath" aria-hidden="true"></i>11 Bathrooms</a>
    </div>
    <div>
      <a class="nav-link disabled" href="#">
        <i class="fa fa-user" aria-hidden="true"></i>
        20 Pax</a>
    </div>
    <div>
      <a class="nav-link disabled" href="#">
        <i class="fa fa-tint" aria-hidden="true"></i>
        Private pool</a>
    </div>
    <div>
      <a class="nav-link disabled" href="#">
        <i class="fa fa-anchor" aria-hidden="true"></i>
        Beach front</a>
    </div>
    <div class="nav-item position-relative" style="width:17rem">
      <app-formulario></app-formulario>
    </div>
    <div>
      <i class="fa fa-heart fa-lg" aria-hidden="true" style="color:#fff"></i>
    </div>
  </div>
</div>