<div class="w-100 myslide">
  <div id="carousel" class="carousel slide myslide__carousel" data-ride="carousel">
    <div class="carousel-inner"></div>
    <div *ngFor="let image of imagesSlider; let first = first;" class="carousel-item" [ngClass]="{active:image.active}">
      <img class="d-block w-100 myslide__carousel__img" [src]="image.src" [alt]="image.alt"/>
    </div>    
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>