<div *ngIf="message" class="alert alert-success" role="alert" [ngClass]="{ 'myAlert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
  <h4 class="alert-heading">{{message.type === 'error' ? 'Upsss!' : 'Well done!'}}</h4>
  <hr>
  <p>{{message.text}}</p>
  <hr>
</div>