/* You can add global styles to this file, and also import other style files */

body {
    /* font-family: 'Ovo', serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.pointer {
    cursor: pointer
}

.ovoFont {
    font-family: 'Ovo', serif;
}

.normalFamilyFont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.myMap {
    margin-top: 1rem;
    agm-map {
        height: 150px;
    }
}

.myslide {
    position: relative;
    &__carousel {
        max-height: 426px;
        width: 100%;
        overflow: hidden;
        &__img {
            max-height: 100%;
            min-height: 100%;
        }
    }
}

.myMenu {
    z-index: 1000;
    height: 2.2rem;
    width: 100%;
    font-family: 'Ovo', serif;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -3.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    h6 {
        color: #ffffff;
        padding: 0 1rem 0 2rem;
        margin-bottom: 0;
        font-family: 'Josefin Sans';
    }
    .nav-link {
        color: #ffffff;
        font-size: 0.8rem;
        padding: 1rem 0 0;
    }
    svg {
        margin-right: 0.2rem;
    }
}

.myCard {
    background-color: #ffffff;
    z-index: 10000;
    width: 18rem;
    position: absolute;
    top: -2.2rem;
    border-radius: 0;
    border: none;
    font-family: 'Josefin Sans';
    .card-header {
        background-image: url('assets/bkg_form.png');
        border: none;
        padding: 0.85rem 1.25rem;
        color: #ffffff;
        &:first-child {
            border-radius: 0;
        }
    }
    .card-body {
        border: 1px solid #e9e7e7;
        border-top: none;
    }
}

.myForm {
    &__smallText {
        font-size: 0.6rem;
    }
    &__btn {
        background-image: url('assets/bkg_form.png');
        border-radius: 0;
        color: #ffffff;
        margin-top: 1.5rem;
    }
    input[type="text"],
    input[type="password"] {
        border-radius: 0;
        padding: 0.8rem;
        padding-left: 2rem;
    }
    .input-group-text {
        background-color: transparent;
    }
    .inner-addon {
        position: relative;
        svg {
            position: absolute;
            pointer-events: none;
        }
    }
    /* align icon */
    .left-addon svg {
        left: 0.6rem;
        top: 1rem
    }
    .right-addon svg {
        right: 0.6rem;
        top: 0.6rem
    }
}

.myAlert {
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    z-index: 10000 !important;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5)
}

.border-bottom {
    border-bottom: 1px solid #e2dfdf;
}

.mt-5 {
    margin-top: 5rem;
}

.properties {
    &__description {
        a {
            color: #000000;
            font-weight: 400;
            text-decoration: underline;
        }
    }
}