<section class="properties mt-4">
  <div class="border-bottom no-gutters">
    <div class="ml-4">
      <h6>DESCRIPTION</h6>
    </div>
  </div>
  <div class="row mt-3 properties__description">
    <div class="col-5 offset-3">
      <p class="text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
        desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen... <a href="#">MORE DETAILS</a></p>
    </div>
  </div>
  <div class="border-bottom no-gutters">
    <div class="ml-4">
      <h6>PROPERTY DETAILS</h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-5 offset-3">
      <h6>CONFIGURATION</h6>
      <hr>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-university" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h6>TWO STORY STAND ALONE ESTATE</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-taxi" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h6>RESIDENT MEMBERSHIP</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h6>FEATURES & AMENITIES</h6>
        <hr>
        <div class="row mb-3">
          <div class="col-6 mb-4" *ngFor="let property of properties">
            <div class="row">
              <div class="col-1">
                <i class="fa fa-wifi" aria-hidden="true"></i>
              </div>
              <div class="col">
                <h6> IDENTIFICADOR {{property.id}}</h6>
                <div>{{property.title}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>